spring:
  application:
    name: traffic-controller-integration-service

  datasource:
    url: jdbc:postgresql://localhost:5432/traffic_controller
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

  config:
    import: classpath:controller-ids.yml

ingestion:
  polling-interval-ms: 30000
